
body
{
	background-color: #d9d9d9;
	margin-top: 30px;
}

div#main
{
	padding: 15px;
	width: 800px;
	margin: 0 auto;
	background-color: white;
}

canvas {
	width: 800px;
	height: 600px;
	border: 1px dotted green;
}

div.sldr {
	margin: 6px;
	margin-left: 40px;
	width: 350px;
	float: left;
}

p {
	float: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 4px;
}